numpy
scipy
pandas
scikit-learn
sktime
matplotlib
tqdm
rich
pytorch-lightning
hydra-core
munch
omegaconf
wandb
einops
opt_einsum
pykeops
cmake
soundfile
librosa
datasets
transformers
pytorch-fast-transformers
clearml
boto3